
extends ../../../templates/master.pug

block content
    - var postName = [];
    - var authorName =[];
    - var date = [];
    - var postID =[];
    - var categoryCode = [];
    - var mayComment =[];
    - date = contentForPug[0].postDate;
    each content in contentForPug
        - postName = content.postSubject;
        - authorName = content.author;
        - postID = content.postID;
        - categoryCode = content.postCategoryCode;
    each content in contentForPug  
        - mayComment = content.comment;
        - console.log(content)
    h1.title #{postName}
    h3.subtitle by #{authorName} on #{date}
    br
    h4 #{contentForPug[0].postContent}
    br
    br
    form(method='post' action=`/post/edit/${postID}`)
        button(type='submit' class='button is-warning is-focused')
            span.icon
                i.fa.fa-wrench
            span Edit Post
    form(method='post' action=`/post/delete/${postID}`)
        input(type='hidden' name='category' value=categoryCode)
        button(type='submit' class='button is-danger is-focused')
            span.icon
                i.fa.fa-minus
            span Delete Post
    hr
    section.hero.is-info.is-bold
        .hero-body
            .container
                center
                    h3.title Comments
                if typeof mayComment === 'undefined'
                    h5.subtitle No Comments here
                else if typeof mayComment !== 'undefined'
                    each komment in contentForPug
                        ul
                            span.icon
                            span &nbsp;
                                i.fa.fa-user
                                span &nbsp;
                                strong
                                    li= `${komment.commentor}`
                            li= `said ${komment.comment}`
                            br
    br
    br
    hr
    h5.title Share your thoughts here!
    form(method='post' action=`/post/${postID}/comment`)
        textarea.textarea(rows='5' placeholder='Add Comment here' name='kumment')
        button(type='sumbit' class='button is-success')
            span Comment
