//- This is how we extend a template using the 'extends' keyword
extends ../../../templates/master.pug

//- This is how we insert dynamic content to extended templates
block content
    - var categoryName = [];
    - var categoryID = [];
    -console.log(postsForPug)
    each category in postsForPug
        - categoryName = category.CategoryName;
        - categoryID = postsForPug[0].ID
    h1.title #{categoryName}
    p Below is the list of all the current posts under #{categoryName}
    hr
    center
        h3.title Posts
    if noPosts === 1
        h4.subtitle No Posts in this Category
    else
        each post in postsForPug
            ul
                li= `${post.author} - ${post.postSubject}`
                    a(href=`/post/${post.postID}`) &nbsp; View this Post
    hr
    h4.title You have something in your Mind?
    h4.subtitle Post here
    form(method='post' action=`/post/on-${categoryID}`)
        input.input(type='text' name='postsubject' placeholder='Subject')
        br
        textarea.textarea(name='postcontent' rows='5' placeholder='What\'s on your mind')
        button(type='submit' class='button is-info')
            span.icon
                i.fa.fa-pencil-square-o
            span Post