
extends ../../../templates/master.pug

block content
    - var postName = [];
    - var authorName =[];
    - var date = [];
    - var postID =[];
    each content in contentForPug
        - postName = content.postSubject;
        - authorName = content.author;
        - date = content.postDate;
        - postID = content.postID;
    h1.title #{postName}
    h3.subtitle by #{authorName} on #{date}
    br
    each content in contentForPug
        ul
            li= `${content.postContent}`
            br
            form(method='post' action=`/post/edit/${postID}`)
                button(type='submit' class='button is-warning is-focused')
                    span.icon
                        i.fa.fa-wrench
                    span Edit Post    